<div class="container" ng-controller="MainController as vm">
  <div class="jumbotron myBackground">
    <!--Service description-->
    <div class="text-center">
      <h1>Plans tonight?</h1>
      <br>
      <ul class="list-inline">
        <li><i class="fa fa-map-marker fa-5x"></i></li>
        <li><i class="fa fa-car fa-5x"></i></li>
        <li><i class="fa fa-glass fa-5x"></i></li>
      </ul>
      <p>Find the bars or places to enjoy which are near to you!</p>
      <!--<a ng-href="/logout">Log out</a>-->
    </div>
    <br>
    <!--Search form-->
    <form class="form-inline searchPlace" ng-submit="vm.getPlaces()">
      <div class="form-group col-xs-10">
        <input type="text" class="form-control" id="placeInput" placeholder="Where are you at?" ng-model="vm.placeInput" name="placeInput">
      </div>
      <button type="submit" class="btn btn-default col-xs-2">GO</button>
    </form>
    <!--Search results section-->
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs" id="placeSection" ng-repeat="place in vm.places">
          <li>
              <img class="img-rounded" ng-src="{{place.image}}" height="100" width="100"/>
              <a ng-href="{{place.url}}"><strong>{{place.name}}</strong></a>
              <a role="button" class="btn btn-default going" ng-click="vm.going(place)">{{place.attenders}} going</a>
              <p><i>"{{place.tip}}"</i></p>
          </li>
        </ul>
      </div>
    </div>
    <!--App info-->
    <div class="row text-center" id="appInfo">
      <div class="col-md-12">
        <p>A Place Finder App v.0.0.1 | TonyFreelance | GitHub </p>
      </div>
    </div>
  </div>
</div>